@import 'tailwindcss';

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Segoe Fluent Icons";
  src: url("/fonts/Segoe Fluent Icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-bg: #2C2C2C;
  --color-bg-deeper: #282828;
  --color-font-grey: #ECECEC;
  --color-font-disabled: #B3B3B3;
  --color-grey-hover: #4E4E4E;
  --color-grey-selected: #424242;
  --color-orange: #E75A2A;
  --color-violet: #C2369F;
}

@utility container {
  max-width: 800px;
  padding-inline: 48px;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

document,
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
}

#title-bar {
  -webkit-app-region: drag;
  /* Allows dragging the window */
}

#window-controls {
  height: 100%;
}

#window-controls button {
  border: none;
  cursor: pointer;
  -webkit-app-region: no-drag;
  /* Prevent buttons from dragging */
  font-family: "Segoe Fluent Icons";
  font-size: 10px;
  width: 48px;
  height: 100%;
}

.inner-shadow {
  box-shadow: inset -4px -4px 4px 0 rgba(0, 0, 0, .12);
}

.text-gradient {
  background: linear-gradient(-45deg, var(--color-orange) 18%, var(--color-violet) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-drag {
  -webkit-app-region: no-drag;
}

button {
  @apply flex items-center hover:opacity-70 active:opacity-50 cursor-pointer transition-all;
}
